{
    "presets": [["latest", { "es2015": { "modules": false } }]],
    "env": { "test": { "presets": [["latest"]] } },
    "plugins": [["module-resolver", {
            "root": ["./"],
            "alias": {
              "graph-curry": "./index",
              "dist":"dist",
              "src": "src",
              "config": "./config",
            }
        }],
    ],
}
