{
  "presets": [ ["latest", { "modules": false}]],
  "plugins":  [ ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src",
        "config": "./config",
      }    }],
    ],

}
